# Final Project: Black Friday Excel Data

In [6]:
# pprint prints dictionaries a bit more nicely than print
from pprint import pprint

## Part 1

First, read in maven_ski_shop_data.xlsx

Then, assign the orders worksheet to an intuitive variable name.

In [8]:
import openpyxl as xl

In [9]:
my_workbook = xl.load_workbook("/Users/huzaifamalik/Downloads/Python for Data Analytics/Python Foundations for Data Analysis/Python Course Assignments/Section13_final_project/maven_ski_shop_data.xlsx")

In [6]:
my_workbook.active = 2

In [7]:
my_workbook.active.title

'Orders_Info'

In [10]:
orders = my_workbook['Orders_Info']

### Column Printer Function

Since we'll be working with Excel frequently, let's create a helper function to print all the rows a specified column.

This will help us view imported data without looking at Excel, and review the data we've written into columns without needing to save a file to review the changes.

Your function should take two arguments:

* Worksheet where data is located
* Column Letter of data to print

Your function should:

* Print Cell Coordinate (e.g. A1, D4).
* Print the contents of the cell.

Then call your function twice:

* Once to print Order ID (column A in 'Orders_Info')
* Once to print subtotal (column D in 'Orders_Info')

In [11]:
def print_rows_in_column(worksheet, column_letter):
    
    for cell in reversed(worksheet[column_letter]):
        
        if cell.value is not None:
            
            max_row_in_coln = cell.row
            break
            
    print(f"Last non-empty row in column {column_letter} is {max_row_in_coln}")

    for row in range(1, max_row_in_coln + 1, 1 ):
        
        print(f"{column_letter}{row} -> {worksheet[f'{column_letter}{row}'].value}")

In [13]:
print_rows_in_column(orders, 'A')

Last non-empty row in column A is 28
A1 -> Order_ID
A2 -> 100000
A3 -> 100001
A4 -> 100002
A5 -> 100003
A6 -> 100004
A7 -> 100005
A8 -> 100006
A9 -> 100007
A10 -> 100008
A11 -> 100009
A12 -> 100010
A13 -> 100011
A14 -> 100012
A15 -> 100013
A16 -> 100014
A17 -> 100020
A18 -> 100021
A19 -> 100022
A20 -> 100023
A21 -> 100024
A22 -> 100025
A23 -> 100026
A24 -> 100027
A25 -> 100031
A26 -> 100032
A27 -> 100033
A28 -> 100034

In [14]:
print_rows_in_column(orders, 'D')

Last non-empty row in column D is 28
D1 -> Subtotal
D2 -> 15.98
D3 -> 899.97
D4 -> 799.97
D5 -> 117.96
D6 -> 5.99
D7 -> 599.99
D8 -> 24.99
D9 -> 1799.94
D10 -> 99.99
D11 -> 254.95
D12 -> 29.98
D13 -> 99.99
D14 -> 25.98
D15 -> 649.98
D16 -> 89.99
D17 -> 119.99
D18 -> 599.99
D19 -> 649.98
D20 -> 24.99
D21 -> 99.99
D22 -> 99.99
D23 -> 5.99
D24 -> 24.99
D25 -> 999.96
D26 -> 99.99
D27 -> 399.97
D28 -> 89.99

### Order Data Dictionary

Create a dictionary with all of the information contained in the 'Orders_Info' Worksheet.

* The dictionary keys should be Order IDs (Column A)
* The values should a list storing the data in the rest of the columns.
* The columns in the list stored as values should be B, C, D, G, and H (after converting to list). 
* For example: The first order, column H should be the nested list: [10001, 10002]


A few notes:

* Convert the Items_Ordered field into a list (we covered a helpful string method for this)
* This can be done with a dictionary comprehension
* DO NOT INCLUDE EXCEL COLUMN HEADERS

In [15]:
for cell in reversed(orders['A']):
    if cell.value is not None:
        max_row_in_coln = cell.row
        break
print(max_row_in_coln)

28

In [16]:
order_dict={}

In [17]:
for row in orders.iter_rows(min_row =2, max_row = max_row_in_coln, min_col = 2, max_col = orders.max_column):
    
    combined_list = []
    items_ordered_list = []
    
    for cell in row:
        #print(cell.value)
        
        if cell.value is not None and cell.column != 8:
            combined_list.append(cell.value)
            
        elif cell.value is not None and cell.column == 8:
            items_ordered_list = str(cell.value).split(',')
            
            combined_list.append(items_ordered_list)
            
    
    order_dict[orders[f"A{cell.row}"].value] = combined_list

In [18]:
pprint(order_dict)

{100000: ['C00004', '11/26/2021', 15.98, 'Sun Valley', ['10001', ' 10002']],
 100001: ['C00007',
          '11/26/2021',
          899.97,
          'Stowe',
          ['10008', ' 10009', ' 10010']],
 100002: ['C00015',
          '11/26/2021',
          799.97,
          'Mammoth',
          ['10011', ' 10012', ' 10013']],
 100003: ['C00016',
          '11/26/2021',
          117.96,
          'Stowe',
          ['10002', ' 10003', ' 10004', ' 10006']],
 100004: ['C00020', '11/26/2021', 5.99, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 'Mammoth', ['10004']],
 100007: ['C00001',
          '11/26/2021',
          1799.94,
          'Mammoth',
          ['10008',
           ' 10008',
           ' 10009',
           ' 10009',
           ' 10009',
           ' 10010',
           ' 10010']],
 100008: ['C00003', '11/26/2021', 99.99, 'Sun Valley', ['10005']],
 100009: ['C00014',
          '11/26/2021',
          254.95,
          'Sun Valley',
          ['10002', ' 10003', ' 10004', ' 10006', ' 10007']],
 100010: ['C00001', '11/26/2021', 29.98, 'Mammoth', ['10002', ' 10003']],
 100011: ['C00001', '11/26/2021', 99.99, 'Mammoth', ['10005']],
 100012: ['C00005', '11/26/2021', 25.98, 'Sun Valley', ['10001', ' 10003']],
 100013: ['C00008', '11/26/2021', 649.98, 'Stowe', ['10012', ' 10013']],
 100014: ['C00013', '11/26/2021', 89.99, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 'Stowe', ['10010']],
 100022: ['C00019', '11/27/2021', 649.98, 'Sun Valley', ['10012', ' 10013']],
 100023: ['C00002', '11/27/2021', 24.99, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 'Mammoth', ['10002']],
 100031: ['C00018',
          '11/28/2021',
          999.96,
          'Stowe',
          ['10005', ' 10008', ' 10009', ' 10010']],
 100032: ['C00018', '11/28/2021', 99.99, 'Stowe', ['10006']],
 100033: ['C00010',
          '11/28/2021',
          399.97,
          'Mammoth',
          ['10005', ' 10008', ' 10009']],
 100034: ['C00016', '11/28/2021', 89.99, 'Stowe', ['10014']]}

### Sales Tax Calculation (Last time!)

We need to calculate the sales tax and total amount owed for every order in this sheet.

* If location is Sun Valley, apply a sales tax of 8%
* If location is Mammoth, apply a sales tax of 7.75%.
* If location is Stowe, apply a sales tax of 6%

Use the tax_calculator function to apply sales tax to each subtotal.

**Insert** the calculated sales tax and total amounts into your customer dictionary immediately after subtotal.

**Tip**: Figure out how to do this once and then loop through the column.

In [19]:
import tax_calculator as tc

In [26]:
for k, v in order_dict.items():
    
    if v[3] == 'Sun Valley':
        tax_rate = 0.08
        
    elif v[3] == 'Mammoth':
        tax_rate = 0.075
        
    elif v[3] == 'Stowe':
        tax_rate = 0.06
        
    result = tc.tax_calculator(v[2], tax_rate)
    
    v.insert(3, result[1])
    v.insert(4, result[2])

Subtotal is 15.98
Tax Amount is 1.28
Total is 17.26
Subtotal is 899.97
Tax Amount is 54.0
Total is 953.97
Subtotal is 799.97
Tax Amount is 60.0
Total is 859.97
Subtotal is 117.96
Tax Amount is 7.08
Total is 125.04
Subtotal is 5.99
Tax Amount is 0.48
Total is 6.47
Subtotal is 599.99
Tax Amount is 45.0
Total is 644.99
Subtotal is 24.99
Tax Amount is 1.87
Total is 26.86
Subtotal is 1799.94
Tax Amount is 135.0
Total is 1934.94
Subtotal is 99.99
Tax Amount is 8.0
Total is 107.99
Subtotal is 254.95
Tax Amount is 20.4
Total is 275.35
Subtotal is 29.98
Tax Amount is 2.25
Total is 32.23
Subtotal is 99.99
Tax Amount is 7.5
Total is 107.49
Subtotal is 25.98
Tax Amount is 2.08
Total is 28.06
Subtotal is 649.98
Tax Amount is 39.0
Total is 688.98
Subtotal is 89.99
Tax Amount is 7.2
Total is 97.19
Subtotal is 119.99
Tax Amount is 9.6
Total is 129.59
Subtotal is 599.99
Tax Amount is 36.0
Total is 635.99
Subtotal is 649.98
Tax Amount is 52.0
Total is 701.98
Subtotal is 24.99
Tax Amount is 1.5
Total is 26.49
Subtotal is 99.99
Tax Amount is 6.0
Total is 105.99
Subtotal is 99.99
Tax Amount is 7.5
Total is 107.49
Subtotal is 5.99
Tax Amount is 0.48
Total is 6.47
Subtotal is 24.99
Tax Amount is 1.87
Total is 26.86
Subtotal is 999.96
Tax Amount is 60.0
Total is 1059.96
Subtotal is 99.99
Tax Amount is 6.0
Total is 105.99
Subtotal is 399.97
Tax Amount is 30.0
Total is 429.97
Subtotal is 89.99
Tax Amount is 5.4
Total is 95.39

In [27]:
pprint(order_dict)

{100000: ['C00004',
          '11/26/2021',
          15.98,
          1.28,
          17.26,
          'Sun Valley',
          ['10001', ' 10002']],
 100001: ['C00007',
          '11/26/2021',
          899.97,
          54.0,
          953.97,
          'Stowe',
          ['10008', ' 10009', ' 10010']],
 100002: ['C00015',
          '11/26/2021',
          799.97,
          60.0,
          859.97,
          'Mammoth',
          ['10011', ' 10012', ' 10013']],
 100003: ['C00016',
          '11/26/2021',
          117.96,
          7.08,
          125.04,
          'Stowe',
          ['10002', ' 10003', ' 10004', ' 10006']],
 100004: ['C00020', '11/26/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 45.0, 644.99, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 1.87, 26.86, 'Mammoth', ['10004']],
 100007: ['C00001',
          '11/26/2021',
          1799.94,
          135.0,
          1934.94,
          'Mammoth',
          ['10008',
           ' 10008',
           ' 10009',
           ' 10009',
           ' 10009',
           ' 10010',
           ' 10010']],
 100008: ['C00003', '11/26/2021', 99.99, 8.0, 107.99, 'Sun Valley', ['10005']],
 100009: ['C00014',
          '11/26/2021',
          254.95,
          20.4,
          275.35,
          'Sun Valley',
          ['10002', ' 10003', ' 10004', ' 10006', ' 10007']],
 100010: ['C00001',
          '11/26/2021',
          29.98,
          2.25,
          32.23,
          'Mammoth',
          ['10002', ' 10003']],
 100011: ['C00001', '11/26/2021', 99.99, 7.5, 107.49, 'Mammoth', ['10005']],
 100012: ['C00005',
          '11/26/2021',
          25.98,
          2.08,
          28.06,
          'Sun Valley',
          ['10001', ' 10003']],
 100013: ['C00008',
          '11/26/2021',
          649.98,
          39.0,
          688.98,
          'Stowe',
          ['10012', ' 10013']],
 100014: ['C00013', '11/26/2021', 89.99, 7.2, 97.19, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 9.6, 129.59, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 36.0, 635.99, 'Stowe', ['10010']],
 100022: ['C00019',
          '11/27/2021',
          649.98,
          52.0,
          701.98,
          'Sun Valley',
          ['10012', ' 10013']],
 100023: ['C00002', '11/27/2021', 24.99, 1.5, 26.49, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 6.0, 105.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 7.5, 107.49, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 1.87, 26.86, 'Mammoth', ['10002']],
 100031: ['C00018',
          '11/28/2021',
          999.96,
          60.0,
          1059.96,
          'Stowe',
          ['10005', ' 10008', ' 10009', ' 10010']],
 100032: ['C00018', '11/28/2021', 99.99, 6.0, 105.99, 'Stowe', ['10006']],
 100033: ['C00010',
          '11/28/2021',
          399.97,
          30.0,
          429.97,
          'Mammoth',
          ['10005', ' 10008', ' 10009']],
 100034: ['C00016', '11/28/2021', 89.99, 5.4, 95.39, 'Stowe', ['10014']]}

### Write Sales Tax and Total Into the Excel Sheet


Great job! Now we just need to write this data into the workbook.

Write the sales tax and total you just calculated into the workbook, then save!

Call this workbook 'maven_ski_shop_data_fixed'.

**Tip:** There are a few ways to do this. As always, be patient, solve one step at a time.

In [33]:
current_row = 2
max_row = orders.max_row

for v in order_dict.values():
    
    orders[f"E{current_row}"].value = v[3]
    orders[f"F{current_row}"].value = v[4]
    
    current_row +=1

In [34]:
my_workbook.save('/Users/huzaifamalik/Downloads/Python for Data Analytics/Python Foundations for Data Analysis/Python Course Assignments/Section13_final_project/maven_ski_shop_data_fixed.xlsx')

## Part 2

### Analysis Time!


Now that we've fixed the data - it's time to perform analysis on our sales.

Our starting point will be the order_dict we created, after we added the taxes and totals columns.

Our first step will be to write a function that calculates the sum of a 'column' of data in our dictionary.

A 'column' for example, would be subtotals, which is at index 2 in the list stored as our dictionary values.

Your function should take the following arguments:

* Column Index (the index of the data of interest in the list stored in our dictionary values)
* Dictionary Name

It should output:

* The sum of values in the column (rounded to two decimal places)

Assume only numeric values will be in the column (You can develop cleaning logic later :D)

**Tip:** Use a list comprehension to retrieve the values of interest.

In [52]:
def column_sum(column_index, dict_name):
    
    numeric_list = [v[column_index] for v in dict_name.values() if isinstance(v[column_index], (int, float))]
    
    #print(numeric_list)
    
    return (round(sum(numeric_list),2))

#### Sum The Subtotal, Tax, and Total Columns 

Now that we have our column sum function, calculate the sum of:

* Subtotals
* Taxes
* Totals

In [60]:
subtotals_sum = column_sum(2, order_dict)
print(f"Sum of subtotal column is {subtotals_sum}")

Sum of subtotal column is 8731.47

In [61]:
taxes_sum = column_sum(3, order_dict)
print(f"Sum of tax column is {taxes_sum}")

Sum of tax column is 607.49

In [62]:
totals_sum = column_sum(4, order_dict)
print(f"Sum of total column is {totals_sum}")

Sum of total column is 9338.96

### What is the average of our subtotals?

Calculate the average value of our transactions.

Remember that each entry in your dictionary is one order.

In [65]:
total_transactions = 0

for k, v in order_dict.items():
    total_transactions += 1

result = column_sum(2, order_dict)

avg_subtotal_value = round(result/total_transactions,2)

print(f"Average value of transactions is: {avg_subtotal_value}")

Average value of transactions is: 323.39

### How many unique customers did we have?

Calculate the total number of unique customers in our sales data.

Then calculate the number of orders per customer (total orders / unique customers)

In [69]:
unique_customers_list = []

In [73]:
# 1st method using list logic
for v in order_dict.values():
    
    if v[0] in unique_customers_list:
        continue
        
    else:
        unique_customers_list.append(v[0])

In [74]:
unique_customers_list

['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010', 'C00006', 'C00001', 'C00003', 'C00014', 'C00005', 'C00008', 'C00013', 'C00017', 'C00019', 'C00002', 'C00021', 'C00022', 'C00018']

In [89]:
print(f"Total unique customers are: {len(unique_customers_list)}")
print(f"Number of orders per customer: {round(len(order_dict)/len(unique_customers_list), 2)}")

Total unique customers are: 19
Number of orders per customer: 1.42

In [88]:
#2nd Method using Set

cust_list = [v[0] for v in order_dict.values()]

total_unique_customers = len(set(cust_list))

print(f"Total unique customers are: {total_unique_customers}")

print(f"Number of orders per customer: {round(len(order_dict)/total_unique_customers, 2)}")

Total unique customers are: 19
Number of orders per customer: 1.42

### How many items in total did we sell?

Calculate the total number of items we sold in across all orders. 

This information is in Column H, which should be the last element in order_dict's values.

In [92]:
total_items_sold = 0

for v in order_dict.values():
    
    items_ordered_list = v[len(v) -1]
    
    #print(items_ordered_list)
    
    total_items_sold += len(items_ordered_list)
    
print(f"Total items sold across all orders: {total_items_sold}")

Total items sold across all orders: 54

### Sales By Location

Calculate the sum of subtotals by location.

Create a dictionary to store them, where location is the key, and revenue for that location is the value.

A few steps to consider:

* Loop through your dictionary
* build a dictionary as you go with location as key
* increment revenue every time a transaction matches the location.


Your output should look like 
{'Location1': sum of subtotals for 'Location1'}

With an entry for each location.

In [93]:
sales_by_location = {}

In [96]:
unique_locations_set = {v[5] for v in order_dict.values()}

In [97]:
unique_locations_set

{'Stowe', 'Sun Valley', 'Mammoth'}

In [100]:
for i in unique_locations_set:
    
    subtotal_sum = 0.0
    
    for v in order_dict.values():
        
        if v[5] == i:
            subtotal_sum += v[2]
            
    sales_by_location[i] = round(subtotal_sum,2)

In [101]:
sales_by_location

{'Stowe': 3582.82, 'Sun Valley': 1268.84, 'Mammoth': 3879.81}

### Challenge: Aggregator Function

Now that you've summed revenue by category (you just summed by location), can you write a function to generalize calculating a sum of a column, grouped by the unique values in another column? (for example, sum of totals by date or customer_id).

Your function should take the following arguments:
* index of the 'column' (index position in order_dict) to group by
* index of the 'column' (index position in order_dict) to sum by category
* the dictionary where the data is located (assume the same structure as order_dict.

It should return:
* A dictionary with the categories as keys, and the sum by category as value.

Once you've done so use your function to sum totals by date and customer_id.

In [120]:
def aggregator(group_by_index_col, sum_index_col, dictionary):
    
    aggregate_dict={}
    
    categories_set = set([v[group_by_index_col] for v in order_dict.values()])
    
    for category in categories_set:
        category_sum = 0.0
        
        for v in order_dict.values():
            if v[group_by_index_col] == category:
                
                category_sum += v[sum_index_col]
                
        aggregate_dict[category] = round(category_sum,2)
        
    return aggregate_dict

In [121]:
# index 5 = location, index 4 = total

aggregator(5, 4, order_dict)

{'Stowe': 3797.8, 'Sun Valley': 1370.36, 'Mammoth': 4170.8}

In [122]:
# index 1 = date, index 4 = total
aggregator(1, 4, order_dict)

{'11/27/2021': 1714.0, '11/28/2021': 1718.17, '11/26/2021': 5906.79}

In [123]:
# index 0 = customer_id
pprint(aggregator(0, 4, order_dict))

{'C00001': 2074.66,
 'C00002': 26.49,
 'C00003': 107.99,
 'C00004': 146.85,
 'C00005': 28.06,
 'C00006': 53.72,
 'C00007': 953.97,
 'C00008': 794.97,
 'C00010': 1074.96,
 'C00013': 97.19,
 'C00014': 275.35,
 'C00015': 859.97,
 'C00016': 220.43,
 'C00017': 635.99,
 'C00018': 1165.95,
 'C00019': 701.98,
 'C00020': 6.47,
 'C00021': 107.49,
 'C00022': 6.47}

In [115]:
#Just for Testing purposes
categories_set_testing = set([v[5] for v in order_dict.values()])

In [116]:
categories_set_testing

{'Stowe', 'Sun Valley', 'Mammoth'}